
    <!-- ****************
    Footer Partial
    **************** -->
    <footer>
      <div class="footer_container">
        <h3 style="color: white;">It's not magic, just hard work.</h3>
        <aside class="welcome_email">
          <a href="mailto:SpencerEAbbott@gmail.com">Email me</a>
        </aside>
        <section class="footer-list">
          <ul>
            <a href="#"><li>Work</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Blog</li></a>
          </ul>
        </section>
      </div>
    </footer>
