<footer>
  <section class="footer--container">

    <nav class="footer--navigation">
      <ul>
      <a class="footer--nav-item" href="{{ siteUrl }}#work">Portfolio</a>
      {# <a class="desktop-nav-item"href="{{ siteUrl }}#about">About</a> #}
      <a class="footer--nav-item" href="{{ siteUrl }}contact">Contact</a>
      <a class="footer--nav-item" href="{{ siteUrl }}blog">Blog</a>
      </ul>
    </nav>

    <aside class="social--icon-links">
      {% include "_partials/_social-links" %}
    </aside>

    <p class="footer--copyright"><small>Copyright © 2010-2015 <a href="{{ siteUrl }}">This Is It, LLC</a>. All rights reserved.</small></p>

  </section>
</footer>
