<!-- Google Meta -->
<link rel="author" href="https://plus.google.com/[Google+_Profile]/posts"/>
<link rel="publisher" href="https://plus.google.com/[Google+_Page_Profile]"/>
<meta itemprop="name" content="{{ siteName }}">
<meta itemprop="description" content="The Portfolio Website of Spencer Abbott: Front End Develeopment">
<meta itemprop="image" content="{{ siteUrl}}assets/images/spencer-abbott-profile-square.jpg">

<!-- Facebook Meta -->
<meta property="og:title" content="{{ siteName }}" />
<meta property="og:description" content="Spencer Abbott: Front End Development" />
<meta property="og:image" content="{{ siteUrl}}assets/images/spencer-abbott-profile-square.jpg" />
<meta property="og:url" content="{{ siteUrl }}" />
<meta property="og:site_name" content="{{ siteName }}" />
<meta property="og:type" content="website" />
<!-- <meta property="fb:app_id" content="" /> -->

<!-- Twitter Meta -->
<!-- <meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
 -->
