
<nav class="main_nav">
  <header class="main_nav--header">
    <a href="{{ siteUrl }}" alt="Spencer Abbott">{% include "_partials/_logo-header-svg" %}</a>
  </header>

   {# Desktop Menu #}
  <section class="deskop-navigation--container">

    <a class="desktop-nav-item" href="{{ siteUrl }}#work">Portfolio</a>
    {# <a class="desktop-nav-item"href="{{ siteUrl }}#about">About</a> #}
    <a class="desktop-nav-item" href="{{ siteUrl }}contact">Contact</a>
    <a class="desktop-nav-item" href="{{ siteUrl }}blog">Blog</a>

  {# Mobile Menu Menu #}
  <div class="mobile-navigation--container">
    <input id="menu" type="checkbox" name="menu" class="HiddenCheckbox"/>
      <label for="menu" class="MenuIcon"></label>
    <nav class="Menu" id="menuContainer">
      <ul class="Menu-list">
        <li> <a  href="{{ siteUrl }}#work" id="menuLink" class="Menu-link">Portfolio</a></li>
        {# <li> <a href="{{ siteUrl }}#about" class="Menu-link">About</a></li> #}
        <li><a  href="{{ siteUrl }}contact" class="Menu-link">Contact</a></li>
        <li> <a href="{{ siteUrl }}#" class="Menu-link">Blog</a></li>
      </ul>
    </nav>
  </div>

  </section>


  <script type="text/javascript">
    $(".Menu-link").on('click', function(){
          var temp = $(this).parent().parent().parent()
          .css({
              'left' : '-100%'
          });
          $(".HiddenCheckbox").prop ('checked', false);
      });


  </script>
</nav>
