// Social colors for site
$twitter: #63cdf1;
$facebook: #507cbe;
$pinterest: #f16261;
$instagram: #c7c5b3;
$youtube: #f16261;


// Utility Colors
$error: #f84040;
$success: #a7e272;
$warning: #f6ad3b;

// Brand Colors
$white: #fefefe;
$basecolor: $white;
$black: #222222;
$black: #3d3d3d;
$gray-dark: #444444;
$gray-type: #3d3d3d;
// http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
// http://ourlittleprojects.com/
$blue-dark: #354458;
$blue-light: #3a9ad9;
$green: #29aba4;
$cream: #e9e0d6;
$red: #eb7260;


$blue: #2a3c51;
