@import 'vendor/neat/neat-helpers';

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(960);

// Needed to fix omega-reset
$fg-column: $column;
$fg-gutter: $gutter;

// Set the visual grid
$visual-grid: false;
$visual-grid-color: #85754e;
$visual-grid-index: 'front';
$visual-grid-opacity: 0.1;

// Define your breakpoints
// breakpoints
$mobile:  new-breakpoint(max-width 320px 2);
$small:   new-breakpoint(min-width 321px max-width 640px);
$medium:  new-breakpoint(min-width 641px max-width 890px);
$large:   new-breakpoint(min-width 891px max-width 1050px);
$xlarge:  new-breakpoint(min-width 1051px);

$mobile-small:  new-breakpoint(max-width 640px);
$mobile-medium: new-breakpoint(max-width 890px);
$mobile-large: new-breakpoint(max-width 1050px);
$small-medium:  new-breakpoint(min-width 321px max-width 890px);
$medium-large:  new-breakpoint(min-width 641px max-width 1050px);
$medium-xlarge:  new-breakpoint(min-width 641px);
$large-xlarge:  new-breakpoint(min-width 891px);



// ------------------------------------------------------------
// Omega Reset Mixin
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
