// Style.css
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  fill: $black;
  width: 3em;
  height: 3em;
  @include media($mobile-small) {
    width: 2em;
    height: 2em;
  }
}


.icon-arrow-up-left {}
.icon-arrow-up {}
.icon-arrow-up-right {}
.icon-arrow-right {}
.icon-arrow-down-right {}
.icon-arrow-down {}
.icon-arrow-down-left {}
.icon-embed {}
.icon-code {}
.icon-mail {}
.icon-mail2 {}
.icon-google {}
.icon-googleplus {}
.icon-facebook {}
.icon-instagram {}
.icon-twitter {}
.icon-github {}
.icon-github2 {}
.icon-linkedin {}
.icon-file-xml {}
