

{% extends "_layouts/_master" %}



  {% block content %}
<div class="home">
  <div class="home_backround">


  <!-- Simple site I can reference -->
  <!-- https://brettstrikesback.com/ -->
    <!--****************
    Navigation Partial
    ****************-->
    <nav class="main_nav">
      <header class="main_nav--header">
        <a class="logo" href="{{ siteUrl }}" alt="Spencer Abbott"><img src="/assets/images/Logo-Temp.png"></h1></a>
        <h3 class="main_nav-sub_header">Front End Development & UX Design</h3>
      </header>
      <section class="navigation_container">
        <!-- Animate a hover state. Subtle but unique. Helpful. Possibly add CSS transitions to pages via CSS-Tricks-->
        <a href="{{ siteUrl }}#work">Work</a>
        <a href="{{ siteUrl }}#about">About</a>
        <a href="{{ siteUrl }}blog">Blog</a>
      </section>
    </nav>



    <!--****************
    Header Banner Partial
    ****************-->
    <section class="welcome_wrapper">
      <section class="welcome">
        <h2 class="welcome_heading_text"><small>I can help you</small><br>Internet.</h2>
        <h3 class="welcome--heading-text--tag">(It's not magic, just hard work.)</h3>
        <aside class="welcome-buttons">
          <a class="button" href="#work">Prove it.</a>
          <a class="button" href="#work">I already want to e-mail you!</a>
        </aside>
      </section>
    </section>
  </div>
</div>



<!--****************
Work Partial
****************-->
<div class="work" id="work">
  <section class="work--container">
    <h1 class="featured_work_title">Featured Work</h1>

    <ul class="work--examples">

      <li class="work--example work--example--spencerabbott">
        <section class="work--example--words">
          <h2 class="work--title">spencerabbott.me</h2>
          <ul class="work--example--roles">
            <li>Design</li>
            <li>Development</li>
          </ul>
        </section>
        <!-- <a class="button" href="">Check it out.</a> -->
      </li>

      <li class="work--example work--example--keylife">
        <section class="work--example--words">
          <h2 class="work--title">keylife.org</h2>
          <ul>
            <li>Re-Design</li>
            <li>Development</li>
          </ul>
        </section>
        <!-- <a class="button" href="">Check it out.</a> -->
      </li>

      <li class="work--example work--example--cannatransact">
        <section class="work--example--words">
          <h2 class="work--title">cannatransact.com</h2>
          <ul>
            <li>Development</li>
          </ul>
        </section>
          <!-- <a class="button" href="">Check it out.</a> -->
      </li>

    </ul>
  </section>
</div>



<!--****************
About Partial
****************-->
<div class="about" id="about">
  <section class="about_container">
    <h1>About</h1>
    <p>Hello, I'm Spencer. I live in Seattle. I specialize in Front End Development. When I'm not busy coding and desiging, I play a lot of guitar and make people uncomfortable with jokes of bad timing. </p>
    <h3>Most of my experience is in the following:</h3>
    <p>Expert:HTML5, CSS3, Sass (SCSS), Jquery, Javascript, Multiple CMS Platforms: Wordpress, ExpressionEngine, Craft. Ruby on Rails. Node.JS MySql Database. Git Version Control. Multi-Enviroment set ups (local, staging, production). CodeKit, Grunt, and Gulp. Photoshop. Blog Post Graphics. Web Design. Bootstrap, Bourbon, Bourbon neat.</p>
    <p>Proficient: </p>
    <aside>
      <h3>Things I Use</h3>
      <ul>
        <li>This</li>
        <li>That</li>
        <li>The Other</li>
        <li>This</li>
        <li>That</li>
        <li>The Other</li>
        <li>This</li>
        <li>That</li>
        <li>The Other</li>
      </ul>
    </aside>
  </section>
</div>



<!-- ****************
Footer Partial
**************** -->
<footer>
  <h3 style="color: white;">It's not magic, just hard work.</h3>
  <div class="footer_container">
    <aside class="welcome_email">
      <a href="mailto:SpencerEAbbott@gmail.com">Email me</a>
    </aside>
    <section class="footer-list">
      <ul>
        <a href="#"><li>Work</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Blog</li></a>
      </ul>
    </section>
  </div>
</footer>
{% endblock %}
