.button-base {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: .4em;
  transition: all .2s ease-in;
}


// Here's a bunch of modules for my button-base
// Extend away to make the button you need. Add a class to use in extensions. This way, you only use one class in markup

.button {
  @extend .button-base;
  color: $white;
  border: 1px solid $white;
  &:hover {
    background: $white;
    color: $black;
  }
  &:hover .button--down-arrow:before {
    border-top-color: $black;
  }
}


.button--center {
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}


.button--arrow-down {
  @extend .button-base;
  @extend .button--center;
  padding: 1em 1.1em;
  border: 2px solid $white;
  border-radius: 100%;
  .icon-arrow-down{
    height: 2em;
    width: 2em;
    fill: $white;
  }

  &:hover {
    background-color: $white;
    & .icon-arrow-down {
      fill: $black;
    }
  }

}


