.main_nav {
  @include outer-container;



  .main_nav--header {
    @include span-columns(4);
    margin-top: 1.5em;
    & a { text-decoration: none;}
    @include media($mobile-medium) {
      @include span-columns(8);
      @include shift(2);
    }


    .logo {
      display: block;
    }

    #header-logo {
      fill: $white;
      width: 100%;
      height: 100%;
        @include media($mobile-medium) {
        position: relative;
        width: 75%;
        height: 100%;
        left: 50%;
        @include transform(translatex(-50%));
      }
    }
  }


  .deskop-navigation--container {
    @include span-columns(8);
    @include omega;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    @include media($mobile-medium) {
       @include span-columns(2);
    }
    .desktop-nav-item {
      font-family: $headerfont;
      font-weight: 800;
      margin: 0 0 .9em 1em;
      padding: 1.2em .3em .1em .3em;
      font-size: 1.3rem;
      color: $white;
      text-decoration: none;
      transition: all .12s ease-in;
      border-bottom: 2px solid transparent;
      &:hover {
        border-color: $white;
      }
    }
  }

}

.desktop-nav-item {
  @include media($mobile-medium) {
    display: none;
  }
}
