.main_nav {
  @include outer-container;
  // background: $gray-dark;


  .main_nav--header {
    @include span-columns(4);
    .logo {
      display: block;
      img {max-width: 100%;}
    }
    .main_nav-sub_header {
      font-size: .8em;
      text-align: left;
      margin: 0;
      padding: 0;
    }

  }


  .navigation_container {
    @include span-columns(8);
    @include omega;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    a {
      padding: 1em 2em;
      font-size: 1.3rem;
      color: $white;
      text-decoration: none;
      font-weight: bold;
      transition: all .12s ease-in;
      &:hover {
        background: $red;
      }
    }
  }

}

